<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="vue.js"></script>

</head>
<body>
   <div id="app">
<!--      <label for="id">TJQ</label>
<input type="checkbox" value="gxy3" id="gxy3" v-model="checkNames">
<input type="checkbox" value="gxy1" id="gxy1" v-model="checkNames">
<input type="checkbox" value="gxy2" id="gxy2" v-model="checkNames">
<span>{{checkNames|json}}</span> -->
    <input type="checkbox" v-model="checkboxArr" value="A">
    <input type="checkbox" v-model="checkboxArr" value="A1">
    <input type="checkbox" v-model="checkboxArr" value="A2">
    <input type="checkbox" v-model="checkboxArr" value="A3">
    <span id="mySpan">{{checkboxArr|json}}</span>

   </div>
   <script type="text/javascript">
   	var vm=new Vue({
   		el:'#app',
      data:{
        checkboxArr:[]
      }
   	});
    function C(obj,types){switch(types){case 'r':console.log('%c您要打印的值为'+obj,'background:red;color:black;font-size:18px;');break;case 'g':console.log('%c您要打印的值为'+obj,'background:green;color:white;font-size:18px;');break;case 't':console.log('%c您要打印的值的类型为'+Object.prototype.toString.call(obj),'background:blue;color:white;font-size:18px;');break;default:console.log(obj);}}
    var mySpan=document.getElementById('mySpan')
    C(mySpan.innerHTML);
    
   </script>
	
</body>
</html>