<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="vue.js"></script>
</head>
<body>
	<div id="app">
		<select v-model="selected" id="mySelectDom">
		  <option v-for="option in options" v-bind:value="option.name">{{option.name}}</option>
		</select>
		<span>Selected&nbsp;&nbsp;&nbsp;{{selected}}</span>
		<input type="button" name="" value="clickMeGetOptionValue" id="clickButton">
	</div>
	<script type="text/javascript">
	new Vue({
		el:'#app',
		data:{
			options:[
			{name:'aAjax'},
			{name:'jQuery'},
			{name:'aAjax'},
			{name:'React'}
			]

		}
	})
	var mySelectDom=document.querySelector('#mySelectDom');
	function C(obj,types){switch(types){case 'r':console.log('%c您要打印的值为'+obj,'background:red;color:black;font-size:18px;');break;case 'g':console.log('%c您要打印的值为'+obj,'background:green;color:white;font-size:18px;');break;case 't':console.log('%c您要打印的值的类型为'+Object.prototype.toString.call(obj),'background:blue;color:white;font-size:18px;');break;default:console.log(obj);}}
	document.getElementById('clickButton').onclick=function(){
		console.log(mySelectDom.value);
	}
	
	</script>
</body>
</html>