<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script type="text/javascript" src="vue.js"></script>
</head>
<body>
  <div id="app">
    <input type="radio" v-model="checkdata" value="boy">
    <input type="radio" v-model="checkdata" value="girl"><br>
    <input type="radio" name="" value="222123112311312121" placeholder="" v-bind:value="radioDataKey" id="radioDom">
    <br>
<!--     <input type="checkbox" v-model="toggle" v-bind:true-value="a" v-bind:false-value="b">
 -->
    <span>This is radio check!{{checkdata}}</span>
    <br>
    <span>{{toggle}}</span><br><br><br><br>
    <span>{{radioDataKey}}</span>
  </div>
<script type="text/javascript">
  new Vue({
    el:'#app',
    data:{
      a:1,
      b:2,
      radioDataKey:'ssssssssssssssssssssssssssssssssssssss'
    }
  })
alert(document.getElementById('radioDom').value)
</script>
</body>
</html>